<%- include("header") %>

    <div class="content">

        <div class="view-profile">
            <div class="view-info">
                <div class="name" id="name">Name : <%=data[0].name%>
                </div>
                <div class="id" id="id">ID : <%=data[0].id%>
                </div>
                <div class="speciality" id="">Speciality : <%=data[0].dept_name%>
                </div>
                <div class="degree" id="name">Degrees : <%=data[0].degree%>
                </div>
                <div class="academics" id="name">
                    <%=data[0].college%>
                </div>
                <div class="room-no" id="name">Room No. <%=data[0].room_no%>
                </div>
                <div class="room-no" id="name"><a href="/history" class="button">History</a></div>
                <div class="room-no" id="name"><a href="/future" class="button">All due appointments</a></div>

            </div>
            <div class="view-image">
                <% var imgDir="./images/" + data[0].id.toString() + ".jpg" %>
                    <img src="<%=imgDir %>" alt="doctor">
            </div>
        </div>

        <ul class="accordion">
            <li>
                <input type="radio" name="accordion" id="first" checked>
                <label for="first">Visits due</label>

                <div class="acc-content">
                    <% var appTime = ["10:00 AM", "10:30 AM", "11:00 AM", "11:30 AM", "12:00PM", "3:00PM", "3:30PM", "4:00PM", "4:30PM",
                    "7:00PM", "7:30PM", "8:00PM", "8:30PM", "9:00PM", "9:30PM"];
                    %>
                    <%for(var i=0; i<result.length; i++) { if(result[i].a_status===0 ) {%>
                        <div class="visit-due">
                            <div class="patient-info">
                                Patient <%=result[i].p_name%> <br>
                                Age: <%=result[i].p_age%> <br>
                                Sex: <%=result[i].p_sex%> <br>
                                <% 
                                var time = result[i].a_time;
                                var dateObj = new Date(time);

                                var day = dateObj.getDate();
                                var month = dateObj.getMonth() + 1; // Month is zero-based
                                var year = dateObj.getFullYear();
                                
                                var formattedDate = day + '/' + month + '/' + year;
                                %>
                                Date and Time: <%=formattedDate%>
                                
                                <%= appTime[result[i].serial] %>
                            </div>

                            <div class="button-back">
                            </div>
                        </div>
                        <%} }%>
                </div>

            </li>

        </ul>
    </div>

    <!-- <script src="style.js"></script> -->

    <div class="contact-us">
        
        <div class="contact">
            <h3>Contact Us</h3>
            <p>Phone: +91 1234567890</p>
            <p>Email: ghbd@gmail.com </p>
        </div>

        <div class="contact">
            <h3>Address</h3>
            <p>3<sup>rd</sup> floor </p>
            <p>IICT Building, SUST</p>
        </div> 

        <div class="contact">
            <h3>File a Complaint</h3>
            <p>Phone: +91 1234567890</p>
            <p>Email: ghbd@gmail.com </p>
        </div>

    </div>

    <script>
        document.getElementById("scrollToBottom").addEventListener("click", function(event) {
    event.preventDefault();
    scrollToBottom();
  });
  
  function scrollToBottom() {
    // Scroll smoothly to the bottom of the page
    document.body.scrollIntoView({ behavior: 'smooth', block: 'end' });
  }
    </script>

    </body>

    </html>