<%- include("header") %>

    <div class="content">
        <div class="message">

            <div class="greet">
                <p>Dear <%=p_name%>,</p>
                <p> We are pleased to inform you that your appointment with Dr. <%=d_name[0].name%> has been successfully
                        booked.
                        Please arrive at the clinic a few minutes before your scheduled appointment. If you need to
                        reschedule or have any questions, feel free to contact our clinic.
                        <br>Thank you for choosing us for your healthcare needs. We look forward to providing you with
                        the
                        best care possible.
                        <br><br>
                        Best regards,<br>
                        General Hospital
                </p>
            </div>
            <div class="bolder">
                Appointment Details: <br>
                Doctor: <%=d_name[0].name%><br>
                    Date: <%=time%><br>
                        Time: ${time}<br>
            </div>
            <%if(ok===0){%>
                <div class="ps">
                    Use this key <span>${key}</span> to log in with your phone number and see your appointment details
                </div>
                <%} else {%>
                    <div class="ps">
                        View your profile to see your appointment details
                    </div>
                    <%}%>
        </div>

    </div>

    <!-- <script src="style.js"></script> -->

    </body>

    </html>