<%- include("header") %>


    <!-- <div class="log">
        <a href="#" class="login">Log in</a>
        <a href="#" class="signup">Sign up</a>
    </div>

    </div> -->

    <div class="content">
        <div class="sub-container">

            <div class="book-container">

                <div class="doctor-details">

                    <div class="input-box">
                        <label for="doctor-id" class="details">Doctor ID:</label>
                        <select name="doctor-id" id="doctor-id" class="select-options">
                            <option value="id1">
                                <%=data[0].id%>
                            </option>
                        </select>
                    </div>

                    <div class="input-box">
                        <label>Doctor name: <%=data[0].name%></label>
                    </div>

                    <div class="input-box">
                        <label>Department: <%=dept%></label>
                    </div>

                    <div class="input-box">
                        <label>Room No.: <%=data[0].room_no%></label>
                    </div>

                </div>

                <div class="patient-details">
                    <form action="/appointment" method="post">
                        <div class="input-box">
                            <div class="labelInfo">Patient Name: </div>
                            <input type="text" id="patientName" name="pName">
                        </div>

                        <div class="input-box">
                            <div class="labelInfo">Phone No.: </div>
                            <input type="text" id="phoneNo" name="phone">
                        </div>

                       <div class="input-box">
                            <div class="labelInfo"> Age: </div>
                            <input type="text" id="age" name="pAge">
                        </div>

                         <div class="input-box">
                            <label for="sex">Sex: </label>
                            <select name="sex" id="sex" class="select-options" name="pSex" onchange="pSex()">
                                <option value="Male" selected>Male</option>
                                <option value="Female">Female</option>
                            </select>
                        </div>
                        <input hidden type="hidden"  name="hSex" id="hide" value = 'Male'>
                        <div class="input-box">
                            <label for="date">Date: </label>
                            <input type="date" id="date" name="date" onchange="checkDate()">
                        </div>
                        <div >
                            <button type="submit" class="content1 book" name="name" id="btn" value=<%=data[0].id %> >Book an
                                Appoitment
                            </button>
                        </div>
                    </form>
                </div>

            </div>
            <p id="valid" style="color: red;"></p>
        </div>
    </div>
    <script src="./date.js"></script>

    </body>

    </html>